In [63]:
import pandas as pd
import numpy as np

import sklearn
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from math import sqrt

In [8]:
boston = pd.read_csv("C:/Users/user/Desktop/Sneha's Program/ML Datasets/boston-housing-dataset.csv")
boston.info()

<bound method DataFrame.info of      Unnamed: 0     CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  \
0             0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1
1             1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2
2             2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2
3             3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3
4             4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1

       TAX  PTRATIO       B  LSTAT  MEDV
0    296.0     15.3  396.90   4.98  24.0
1    242.0     17.8  396.90   9.14  21.6
2    242.0     17.8  392.83   4.03  34.7
3    222.0     18.7  394.63   2.94  33.4
4    222.0     18.7  396.90   5.33  36.2
..     ...      ...     ...    ...   ...
501  273.0     21.0  391.99   9.67  22.4
502  273.0     21.0  396.90   9.08  20.6
503  273.0     21.0  396.90   5.64  23.9
504  273.0     21.0  393.45   6.48  22.0
505  273.0     21.0  396.90   7.88  11.9

[506 rows x 15 columns]>

In [10]:
boston.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [22]:
boston1 =boston.drop(['Unnamed: 0'], axis =1)

In [24]:
boston1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [27]:
X = boston1.drop(['MEDV'], axis =1) #seperating x 
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [30]:
Y = boston['MEDV']  #seperating class variables
Y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [40]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, random_state = 0)

In [41]:
x_train.shape

(379, 13)

In [42]:
x_test.shape

(127, 13)

In [45]:
y_train.shape

(379,)

In [48]:
y_test.shape

(127,)

In [51]:
model= LinearRegression()

In [53]:
model.fit(x_train, y_train)

LinearRegression()

In [56]:
y_pred = model.predict(x_test)

In [58]:
model.score(x_train, y_train)

0.7697699488741149

In [59]:
model.coef_

array([-1.17735289e-01,  4.40174969e-02, -5.76814314e-03,  2.39341594e+00,
       -1.55894211e+01,  3.76896770e+00, -7.03517828e-03, -1.43495641e+00,
        2.40081086e-01, -1.12972810e-02, -9.85546732e-01,  8.44443453e-03,
       -4.99116797e-01])

In [61]:
model.intercept_

36.933255457118975

In [64]:
rmse = sqrt(mean_squared_error(y_test,y_pred))
rmse

5.4573111595640516